		<h1>GAME MANAGER</h1>
		<p>
			Welcome to GAME MANAGER<br />
			Create your tournament and have fun with your friends.
		</p>

		<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

